/* Reset-css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    list-style-type: none;
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    background-image: url("https://buggy.yodycdn.com/images/home-banner-dt/ef646d7f10dcb3c4d911b17d81387b21.webp?width=2880&height=1620");
    height: 100vh;
    background-size: cover;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 2px;
        /* navigation */
        .navbar {
            .navbar-brand {
            img {
                width: 75%; 
            }
            }
            .collapse  {
            justify-content: flex-end;
            .navbar-nav {
                margin: 0;
                .nav-link {
                color: rgba(25, 123, 189, 0.795);
                font-weight: bold;
                }
                .nav-link:hover {
                color: rgb(0, 0, 0);
                font-size: large;
                }
            }
            }
        }
        /* end-navigation */
    }
}

/* New Version */
main {
    background-color: #222;
}

.box {
    img {
        border-radius: 5px;
    }
    .box-desc {
        color: white;
    }
}

.section-title {
    color:white;
    font-size:25px;
}

/* end new version */
.form-wrapper {
    background-color: #006b84;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    .form {
        background-color: white;
        padding-top: 40px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 20px;
         border-radius: 5px;
        width: 400px;
        .form-title {
            text-align: center;
            font-size: 30px;
        }
        .form-group {
            padding-bottom: 15px;
            input {
                display: block;
                width: 100%;
                padding: 15px;
                margin-top: 10px;
                outline: none;
                border-radius: 5px;
            }

        }
        .form-button {
            margin-bottom: 15px;
            button {
                background-color: #006b84;
                width: 100%;
                padding-top: 15px;
                padding-bottom: 15px;
                color: white;
                font-size: 20px;
                border: none;
                border-radius: 5px;
            }
        }
    }
}
/* Form */


